body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.header {
    height: 75px;
    background-color: rgb(66, 107, 255);
    color: white;
    align-items: center;
    text-align: center;
}
.content {
    padding-top: 25px;
    flex: 1;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#bmiForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}